@use'./../../styles/variables.scss' as v;

.notero{
    $double-gap: calc(var(--gap)*2);

display: flex;
justify-content: center;
padding-top: 50px;
position: relative;
width: 100%;

@media (min-width: v.$desktop ) {
    padding-top: 150px;

           
              }

&::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    background-image: url("./../../dist/assets/img/notero-web.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

&__container{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    @media (min-width: v.$desktop ) {
        flex-direction: row;
               
                  }
}
    &__left, &__right{

        @media (min-width: v.$desktop ) {
            flex: 1;
                   
                      }
        

    }

&__left{
    height: 390px;
    position: relative;
    background-image: url("./../../dist/assets/img/notero-ipad.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: v.$bigger-mobile ) {
       height: 500px;
               
                  }

     @media (min-width: v.$tablet ) {
          height: 660px;
                           
         }
}

&__animation{
    position: absolute;
    top: -15%;
    right: -15%;
    left: -15%;
    bottom: -15%;
    background-image: url("./../../dist/assets/img/notero-bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    overflow: clip;

    animation: rotate-center 100s linear infinite both;
}

    &__right{
        display: flex;
       gap: $double-gap;
        flex-direction: column;

       a, p{
            align-self: flex-start;
            
        }
    }

    &__description{
        line-height: 30px;
        br{
            display: none;
            @media (min-width: v.$bigger-tablet) {
                display: block;
            }
        }
    }

    &__benefit{
        display: flex;
        align-items: center;
        padding: 10px 0;
        gap: 10px;


        div{
            display: flex;
            justify-content: center;
            align-items: center;
           padding: 8px;
            
            background-color: var(--creame-color);
            border-radius: 50%;

            svg{
                fill: var(--violett-color);
                
               
            }
            p{
                align-self: center;
            }
        }
    }

    &__button{
        width: 150px;
    }
}