@use'./../../styles/variables.scss' as var;
@use'./mixins.scss' as LocalMixins;
@use'./../../styles/mixins.scss' as mixins;


.notero{
    $double-gap: calc(var(--gap)*2);

display: flex;
justify-content: center;
padding-top: 50px;
position: relative;
width: 100%;

@media (min-width: var.$desktop ) {
    padding-top: 150px;

           
              }

&::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
   
   @include mixins.background-image('./../../dist/assets/img/notero-web.png');

}

&__container{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    @media (min-width: var.$desktop ) {
        flex-direction: row;
               
                  }
}
    &__left, &__right{

        @media (min-width: var.$desktop ) {
            flex: 1;
                   
                      }
        

    }

&__left{


  @include LocalMixins.half-container-image('./../../dist/assets/img/notero-ipad.png');

}

&__animation{
@include LocalMixins.rotate-center(15%, './../../dist/assets/img/notero-bubbles.png');

}

    &__right{
        display: flex;
       gap: $double-gap;
        flex-direction: column;

       a, p{
            align-self: flex-start;
            
        }
    }

    &__description{
        line-height: 30px;
        br{
            display: none;
            @media (min-width: var.$bigger-tablet) {
                display: block;
            }
        }
    }

    &__benefit{
        display: flex;
        align-items: center;
        padding: 10px 0;
        gap: 10px;


        div{
            display: flex;
            justify-content: center;
            align-items: center;
           padding: 8px;
            
            background-color: var(--creame-color);
            border-radius: 50%;

            svg{
                fill: var(--violett-color);
                
               
            }
            p{
                align-self: center;
            }
        }
    }

    &__button{
        width: 150px;
    }
}